<section id="profil_section" class="big-section bg-custom-blue-2 wow position-relative" style="visibility: visible;">
    <div class="opacity-light opacity-9" style="background: linear-gradient(#0d112b, transparent);"></div>
    <div class="flex-center mb-5" style="z-index: 1;">
        <a href="#header_section" class="btn btn-md bg-custom-blue-1 text-light btn-rounded m-auto opacity-3">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
    <div class="container position-relative" style="z-index: 1;">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center margin-four-bottom">
                <h3 class="h-font h1-font text-custom-h1 opacity-5">{{ 'Profile' | trans }}</h3>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-12 col-lg-4 offset-lg-1 md-margin-5-rem-bottom">
                <div class="margin-15px-bottom d-flex text-fast-blue alt-font"><span class="h-1px align-self-center margin-10px-right w-10 bg-fast-blue flex-shrink-0"></span><div class="media-body flex-grow-1">Accomplished skills</div></div>
                <h5 class="text-light font-weight-500 alt-font d-block margin-25px-bottom">We are the agency behind the design</h5>
                <p class="">Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's standard dummy text ever since.</p>
            </div>
            
        </div>
    </div>
    <div class="flex-center mt-5">
        <a href="#skills_section" class="btn btn-md bg-custom-blue-1 text-light btn-rounded m-auto opacity-3">
            <i class="fa fa-chevron-down"></i>
        </a>
    </div>
</section>