<footer class="footer-dark">
    <div class="footer-bottom padding-30px-tb border-top border-color-white-transparent">
        <div class="container"> 
            <div class="row align-items-center">
                <div class="col-12 col-md-12 text-center">
                    <span class="small">{{ 'Developed by' | trans }} <span class="h-font d-lg-inline-block ms-1" style="font-size: .9rem;"> Olivier Maurel</span></span>
                </div>
            </div>
        </div>
    </div>
</footer>